<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title class="auth-title">Recuperar Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <form [formGroup]="forgotForm">
      
        <!-- Paso 1: Email -->
        <div *ngIf="paso === 1">
          <p class="texto">Ingresá tu email para buscar tu cuenta</p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="tu@email.com">
          </mat-form-field>
          <button mat-raised-button color="primary" class="full-width" (click)="buscarUsuario()" [disabled]="forgotForm.get('email')?.invalid">
            Buscar
          </button>
        </div>

        <!-- Paso 2: Pregunta seguridad -->
        <div *ngIf="paso === 2">
          <p class="texto">¿Cuál es tu fecha de nacimiento?</p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput formControlName="fechaNacimiento" type="date">
          </mat-form-field>
          <button mat-raised-button color="primary" class="full-width" (click)="verificarFecha()">
             {{ cargando ? 'Verificando...' : 'Verificar' }}
          </button>
        </div>

        <!-- Paso 3: Nueva contraseña -->
        <div *ngIf="paso === 3">
          <p class="texto">Ingresá tu nueva contraseña</p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput formControlName="nuevaPassword" type="password" placeholder="Mínimo 6 caracteres">
          </mat-form-field>
          <button mat-raised-button color="primary" class="full-width" (click)="cambiarPassword()" [disabled]="forgotForm.get('nuevaPassword')?.invalid">
            Cambiar contraseña
          </button>
        </div>

      </form>

      <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>
      <p class="error-msg" *ngIf="error">{{ error }}</p>

      <p class="register-link">
        <a routerLink="/auth/login">Volver al login</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>