<div class="footer">

  <a class="footer-item" routerLink="/inicio" routerLinkActive="footer-activo" [routerLinkActiveOptions]="{exact:true}">
    <span class="footer-icon">🏠</span>
    <span class="footer-label">Inicio</span>
  </a>

  <a class="footer-item" routerLink="/aprender" routerLinkActive="footer-activo">
    <span class="footer-icon">📖</span>
    <span class="footer-label">Aprender</span>
  </a>

  <a class="footer-item" routerLink="/alimentarse" routerLinkActive="footer-activo">
    <span class="footer-icon">🍴</span>
    <span class="footer-label">Alimentarse</span>
  </a>

  <a class="footer-item" routerLink="/entrenamiento" routerLinkActive="footer-activo">
    <span class="footer-icon">🏋️</span>
    <span class="footer-label">Entrenamiento</span>
  </a>

  <a class="footer-item" routerLink="/comunidad" routerLinkActive="footer-activo">
    <span class="footer-icon">👥</span>
    <span class="footer-label">Comunidad</span>
  </a>

</div>